{% extends 'base.html' %}

{% block title %}
Student List
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between my-2">
        <a href="/create"><button class="btn btn-primary">Create New Record</button></a>
        
        {% if user.is_authenticated %}
        <a href="/logout"><button class="btn btn-secondary">Log Out</button></a>
        {% endif %}
    </div>
    
    <h1 class="my-4">Student List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Faculty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.get_faculty_display }}</td>
                <td>
                    <a href="http://127.0.0.1:8000/update/{{ student.id }}"><button class="btn btn-info">Update</button></a>
                    <a href="http://127.0.0.1:8000/delete/{{ student.id }}"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No students found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
